{% extends "dashboard.html" %}

{% block content %}
{% if order.status %}
    <h4><b class="text-success">Successful</b></h4>
{% else %}
    <h3><b class="text-danger">Cancelled</b></h3>
{% endif %}
{% for item in items  %}
<div class="bg-light rounded border-bottom p-3">
    <p>product:<a class="text-decoration-none" href="{{ item.product.get_absolute_url }}"> {{item.product}}</a></p>
    <p>Unit Price: Shs. {{item.price}}</p>
    <p>quantity: {{item.quantity}}</p>
    <p>Status: {{item.status}}</p>
</div>

<h4 class="border-top pt-2 text-muted">Total: Shs. {{ item.totalprice }}</h4>
{% endfor %}
{% endblock %}